.DS_Store
*.log
*.mdb
*.config
*~
*.userprefs

/Editor/obj
/Editor/bin
/Editor/packages
/Editor/Petri.app
/Editor/Petri.exe
/Editor/*.dll
/Editor/Projects/obj
/Editor/Todo.txt

/Editor/Test/bin
/Editor/Test/obj
TestResult.xml
