.DS_Store
*.log
*.mdb
*.config
*~
*.userprefs

TestResult.xml

/Editor/obj
/Editor/bin
/Editor/packages
/Editor/Petri.app
/Editor/Petri.exe
/Editor/*.dll
/Editor/Projects/obj
/Editor/Todo.txt
/Editor/clean.sh

/Editor/Test/bin
/Editor/Test/obj

/build
/Runtime/libPetriRuntime.so
